<h1>The following are my contact information: </h1>

<div class="list-group">
    <a target="_blank" rel="noopener" class="list-group-item list-group-item-action"
        href="mailto:contact@mcchanglife.com">contact@mcchanglife.com</a>
    <a target="_blank" rel="noopener" class="list-group-item list-group-item-action"
        href="https://www.linkedin.com/in/ivancchang1117/">LinkedIn</a>
    <a target="_blank" rel="noopener" class="list-group-item list-group-item-action"
        href="https://www.facebook.com/MCChang1117/">Facebook</a>
</div>